<div>Fetching movies..</div>
<%= image_tag("basic-spinner.gif", size: "80x80") %>

<script>
  $("#search-form input[type='submit']").prop('disabled', true)

  consumer.subscriptions.create({ channel: 'SearchesChannel', id: "<%= search.id %>" }, {
    connected() {
    },
    disconnected() {
      $("#search-form input[type='submit']").prop('disabled', false)
    },
    received(message) {
      if(message === 'movies-collection-available') {
        consumer.disconnect();
        $.ajax({
          type: 'GET',
          url: "<%= movies_search_movies_path(search.id) %>",
          dataType : 'script'
        });
      }
    }
  });
</script>